@model RamsoftBD.ModelView.BranchViewModel
@{
   ViewBag.Title = "Edit"; 
 
}
<h2 class="bg" style="background-color:#293955;color:white">Branches</h2>
<div class="row">


    <div class="col-lg-8">

        <table id="myTable" class="display">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Code")
                    </th>

                    <th>
                        @Html.DisplayName("Address")
                    </th>

                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Branches)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BranchCode)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.BranchStatus)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>


    <div class="col-lg-4" style="border-style:solid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div>
                <h2 class="bg" style="background-color:#293955;color:white;text-align:center"> Edit Branch</h2>
            </div>
            <br />
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.BranchCode)


            <div class="form-group">
                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Opening Date", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.OpeningDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OpeningDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Close Date", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.CloseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CloseDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-7">
                    @Html.DropDownList("BranchStatus", new List<SelectListItem>
             {
                 new SelectListItem{ Text="Active", Value = "Aclive" },
                 new SelectListItem{ Text="Closed", Value = "Closed" },

              }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchStatus, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9" style="text-align:right">
                    <input type="submit" value="Update" class="btn btn-warning" />
                </div>
            </div>
        </div>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
    <script src="~/ControllerHelperScript/Branches/Create.js"></script>
      
   
}
