@model RamsoftBD.ModelView.CustomRoleViewModel

@{
    ViewBag.Title = "Create";
}

<h2 class="bg" style="background-color:#293955;color:white">Roles</h2>

<div class="row">
    <div class="col-lg-8">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomRoles)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
                }
            </tbody>
        </table>


    </div>
    <div class="col-lg-4" style="border-style:solid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=>x.Id)
            <div class="form-horizontal">
                <h2 class="bg" style="background-color:#293955;color:white;text-align:center"> New Role</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        <p style="color:red"> @ViewBag.existance </p>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-7">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}